* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

:root {
    --bg-clr: #e0e0e0;
    --nav-bg-clr: #614BC3;
    --txt-clr: #EEEDED;
    --txt-alt-clr: #D7BBF5;
    --black: #000;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 6rem;
    font-weight: 800;
    color: var(--txt-alt-clr);
    -webkit-text-stroke-width: 0.15rem;
    -webkit-text-stroke-color: #D7BBF5;
}

h2 {
    font-size: 3.5rem;
    font-weight: 500;
    color: var(--txt-clr);
}

h3 {
    font-size: 2rem;
    font-weight: 300;
    color: var(--txt-clr);
}

h4 {
    font-size: 1.35rem;
    font-weight: 800;
    color: var(--black);
}


p {
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--black);
}

a {
    font-size: 1.35rem;
    font-weight: 800;
}

.section {
    padding: 5.5rem 0;
}

.grid-layout {
    display: grid;
    gap: 2.35rem;
}

.grid-2-column {
    grid-template-columns: repeat(2, 1fr);
}

.grid-3-column {
    grid-template-columns: repeat(3, 1fr);
}

.grid-4-column {
    grid-template-columns: repeat(4, 1fr);
}


/* hero section styling start here  */

#hero-section {
    background: url('../assets/hero-img.jpg');
    background-size: cover;
    object-fit: contain;
    position: relative;
    width: 100vw;
    height: 85vh;

    display: grid;
    place-content: center;
}

#hero-section::before {
    content: "";
    position: absolute;

    width: inherit;
    height: inherit;

    top: 0;
    left: 0;
    background-color: var(--black);
    opacity: 0.5;
}

.hero-container {
    padding: 1rem;
    width: inherit;
    height: 18rem;
    text-align: center;
    position: relative;
    z-index: 1;
}

.search-input-box {
    margin: 1.5rem 0;
}

.search-input-box input {
    width: 40rem;
    font-size: 1.35rem;
    padding: 1rem;
    border: none;
    outline: none;
    border-radius: 0.5rem;
}



/* city section styling start here  */

.city {
    cursor: pointer;
    width: 100%;
    height: 40rem;
    position: relative;
}

.city::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: inherit;
    height: inherit;

    background-color: var(--black);
    opacity: 0.5;
    transition: all 0.5s linear;
}

.city:hover.city::before {
    opacity: 0;
}

.city h4 {
    position: absolute;
    font-size: 2rem;
    font-weight: 500;
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    bottom: 0.75rem;
    color: #FFF;
    transition: all 0.5s linear;
}

.city:hover.city h4 {
    height: 50%;
    top: 0;
}

.city img {
    width: inherit;
    height: inherit;
}


#footer-section {
    background-color: var(--nav-bg-clr);
    padding: 0.5rem;
    text-align: center;
}


/* adventure section styling  */

#adventure-section {
    background-color: var(--bg-clr);
}

.card-layout {
    background: white;
    border-radius: 0.5rem;
}

.card-layout-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 0.75rem;
}

.card-layout img {
    height: 20rem;
    width: 100%;
    /* aspect-ratio: 1; */
}




/* media styles here  */

@media(max-width: 990px) {

    #cities-section .grid-4-column,
    #adventure-section .grid-4-column {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width: 768px) {
    #adventure-section .container {
        max-width: 68rem;
    }
}

@media(max-width: 745px) {
    #cities-section .grid-4-column {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 610px) {
    #adventure-section .grid-4-column {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 570px) {
    #cities-section .grid-4-column {
        grid-template-columns: repeat(2, 1fr);
        width: 80vw;
    }
}

@media(max-width: 590px) {
    html {
        font-size: 45%;
    }
}


@media(max-width: 435px) {
    #cities-section .grid-4-column {
        grid-template-columns: repeat(1, 1fr);
        width: 70vw;
    }

    #adventure-section .grid-4-column {
        grid-template-columns: repeat(1, 1fr);
    }

    #adventure-section .container {
        max-width: 48rem;
    }
}


@media(max-width: 413px) {
    html {
        font-size: 35%;
    }

    #hero-section {
        height: 55vh;
    }
}